.titulo_right{
	text-align: right;
	padding-top: 13px;
}

.titulo_esquerda{
	text-align: left;
	float: left;
}

input[type=search]{	
	background: url('../img/search-icon.png') !important;
	background-repeat: no-repeat !important;
    background-position: right !important;
    border-radius: 5px !important;
    font-size: 15px 
}

#loading{
	width: 100%;
}

#loading_centraliza{
	width: 65px;
	margin: 0 auto;
}

.down_list{
	line-height: 1;
}

 .btn_comparativo{
 	background: white;
 	border-radius: 5px; 
 	color: #8AA8BD; 
 	padding: 5px; 
 	float: right;
 }

 .dropdown{
 	z-index: 999;
 }

 #total{
 	font-family: sans-serif;
 }

@-webkit-keyframes slidein {
  from {
   opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.transicao {
  -webkit-animation-duration: 1.2s;
  -webkit-animation-name: slidein;
}

.rapida {
  -webkit-animation-duration: 0.8s;
  -webkit-animation-name: slidein;
}

.control-label{
  margin-top: 5px;
}

.form-invalido{
  color: red;
}

.main-navigation{
  margin-top: 21px
}

.page-header{
  margin-top: 20px !important; 
}

