<ul class="nav navbar-right">
						<li class="dropdown current-user">
							<a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
								<img src="img/default_user.png" width="28" class="circle-img" alt="">
								<span class="username">{{usuario}}</span>
								<i class="clip-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
							     <li style="cursor: pointer">
									<a data-toggle="modal" data-target="#AltSenha">
										<i class="clip-user-2"></i>
										Trocar senha
									</a>
								</li>
								<li>
									<a href="login/" onclick="sessionStorage.clear();">
										<i class="clip-exit"></i>
										Sair
									</a>
								</li>
							</ul>
						</li>
					</ul>
	